<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saint.animaltracking">
    <!-- All activities (java classes) have to be logged here with that thier
    intent purpose is. The two I use are Launcher to begin the app and then default
    intents after that to allow my classes to be callable -->
    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scanQR" >
            <intent-filter>
                <action android:name="android.intent.action.scanQR" />  //required
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add" >
            <intent-filter>
                <action android:name="android.intent.action.Add" />  //required
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".selectAnimal" >
            <intent-filter>
                <action android:name="android.intent.action.selectAnimal" />  //required
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:hardwareAccelerated="true"
            android:name=".specificAnimal" >
            <intent-filter>
                <action android:name="android.intent.action.specificAnimal" />  //required
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity >
        <activity
            android:hardwareAccelerated="true"
            android:name=".FeedClean" >
            <intent-filter>
                <action android:name="android.intent.action.FeedClean" />  //required
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity >
    </application>

</manifest>
